<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{analytics}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- Google Tag Manager -->
<!--
<noscript>
<iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-WQDQLX" style="display:none;visibility:hidden" width="0"></iframe>
</noscript>
<script type="text/javascript">
    // <![CDATA[
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WQDQLX');
    // ]]></script> 
-->
<!-- End Google Tag Manager -->

<div id="cl-wrapper" ng-class="{'login-container': !loggedin}" class="sb-collapsed sidenav-dark">
  <div appcentralsidenav class="cl-sidebar" ng-class="{'hidden': !loggedin}"></div>
  <div class="container-fluid" id="pcont">
    <div appcentraltopnav ng-class="{'hidden': !loggedin}"></div>
    <div ng-view class="cl-mcont" ng-class="{'aside': aside}"></div>
  </div>
</div>
<div application-footer></div>