<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ang css" stopProcessing="true">
          <match url="^.*\.(ashx|axd|css|gif|png|jpg|jpeg|js|flv|f4v)$"/>
          <action type="None"/>
        </rule>
        <rule name="ang">
          <match url="^(.*)"/>
          <action type="Rewrite" url="index.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>